---
import MainCard from "../components/MainCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Simple Coffe Listing">
  <main class="relative w-full flex flex-col items-center justify-center">
	<MainCard/>
  </main>
</Layout>
