<div class="my-6 flex flex-row gap-3 justify-center">
  <a class="hover:bg-[#6F757C] rounded-lg mb-2 px-3 py-2 text-medium text-sm" href="#"
    >All Products</a
  >
  <a class="hover:bg-[#6F757C] rounded-lg mb-2 px-3 py-2 text-medium text-sm" href="#"
    >Available Now</a
  >
</div>
