<div class="my-6">
  <a class="hover:bg-[#6F757C] rounded-lg mr-3 mb-2 px-3 py-2 text-sm" href="#"
    >All Products</a
  >
  <a class="hover:bg-[#6F757C] rounded-lg mr-12 mb-2 px-3 py-2 text-sm" href="#"
    >Available Now</a
  >
</div>
