---
import Buttons from "./Buttons.astro";
import Vector from "../assets/icons/Vector.astro"
---

<section class="xl:mt-[170px] xl:w-[1160px] 2xl:mt-[213px] relative 2xl:w-[1460px] h-[375px] bg-[#1B1D1F] rounded-xl text-center">
    <div class="absolute ml-96">
        <Vector/>
    </div>
  <div
    class="absolute xl:px-[320px] pt-20 2xl:px-[450px] flex flex-col "
  >
    <h5
      class="font-semibold subpixel-antialiased tracking-wider mb-3 text-[#FEF7EE] text-[32px]"
    >
      Our Collection
    </h5>
    <p class="w-[500px] text-base font-medium text-wrap text-[#6F757C]">
      Introducing our Coffee Collection, a selection of unique coffees from
      different roast types and origins, expertly roasted in small batches and
      shipped fresh weekly.
    </p>
    <Buttons />
  </div>
</section>
