---
import Buttons from "./ButtonsMainCard.astro";
import Vector from "../assets/icons/Vector.astro";
import Coffes from "./Coffes.astro";
---

<section
  class=" w-[424px] mt-[100px] mb-[100px] md:w-[875px] md:mt-[130px] xl:mt-[185px] xl:w-[1280px] 2xl:mt-[232px] 2xl:w-[1600px] h-[2000px] md:h-[940px] xl:[800px] 2xl:h-[950px]  bg-[#1B1D1F] flex rounded-xl text-center"
>
  <div class="absolute mt-9 pl-[155px] md:pl-[420px] xl:pl-[630px] 2xl:pl-[790px]">
    <Vector />
  </div>
  <div
    class="absolute px-[15px] md:px-[150px] pt-20  2xl:w-[1600px] xl:w-[1280px] flex flex-col justify-center items-center"
  >
    <h5
      class="font-semibold subpixel-antialiased mb-3 text-[#FEF7EE] text-4xl w-[400px] md:w-[500px] "
    >
      Our Collection
    </h5>
    <p
      class="w-[310px] md:w-[500px] text-md font-semibold text-wrap text-[#6F757C]"
    >
      Introducing our Coffee Collection, a selection of unique coffees from
      different roast types and origins, expertly roasted in small batches and
      shipped fresh weekly.
    </p>
    <div class="my-6 gap-3 justify-center flex flex-row ">
      <Buttons href="/">All Products</Buttons>
      <Buttons href="/available-coffes">Available Now</Buttons>
    </div>
    <slot/>
  </div>
</section>
