---
import "@fontsource/dm-sans";
import MainCard from "../components/MainCard.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main class=" w-full flex flex-col items-center justify-center">
      <MainCard>
        <slot />
      </MainCard>
    </main>
    <Footer />
  </body>
</html>
<style is:global>
    :root {
      color-scheme: dark light;
    }
    html {
      font-family: "Dm Sans", system-ui, sans-serif;
      background: #111315;
      background-image: url('src/assets/images/bg-cafe.jpg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    body{
      height: auto;
    }
  </style>